<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier demandé n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
